//- Mixins
mixin label(label)
  li
    label #{label}

mixin link(name,link)
  li
    a(href=link) #{name}

doctype html5
html(lang='en')
  head
    title= title
    block settings
    // Viewport mobile tag for sensible mobile support
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet',href='/styles/app.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700', rel='stylesheet')

    block styles

  body
    block body

    //- A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")
    
    block scripts