//- Navigation

mixin label(label)
  li
    label #{label}

mixin link(name,link,target)
  li
    a(href=link,target=target) #{name}

+label('Songs')
+link('List',  '/editor/list')
+link('New',   '/editor/new')
+link('Import','/file/uploader')

+label('Presentation')
+link('Playlist','#')
+link('Create Single slide','/slide/create')

+label('Remote')
+link('!Send message')
+link('Control', '/presentation/control')
+link('Projector', '/presentation/view','_blank')

+label('Agenda')
+link('Create','#')
+link('Edit', '#')

+label('Administration')
+link('Users','#')