extends ../layout

block settings
  - var title    = 'DashBoard | SeverSong'
  - var relative = ''

block styles
  // Default home page
  style
    body,html{
    height:100%;
    width:100%;
    }
    .off-canvas-wrap,.inner-wrap{
        height:100%;   
    }
    .page{
        height:100%;   
    }
  //if IE 7

block body
  .page
    .off-canvas-wrap
      .inner-wrap
        nav.tab-bar
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href='#')
              span

          section.middle.tab-bar-section
            h1.title Presentation

        aside.left-off-canvas-menu
          ul.off-canvas-list

            include ../navigation

        section.main-section
          main
            br
            .row
                .large-12.columns
                    h1 
                      | ServerSong
                      br
                      small Songs lyrics presentation over network
                .row
                  .large-12.medium-12.columns
                    .row
                      .large-12.columns
                        .callout.panel
                          p
                            strong This is a twelve column section in a row.
                            | Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
          //- Main end        
        a.exit-off-canvas


  script(src=relative+'vendor/jquery/dist/jquery.min.js')
  script(src=relative+'vendor/foundation/js/foundation.min.js')
  script(src=relative+'vendor/foundation/js/foundation/foundation.offcanvas.js')