extends ../layout

block settings
  - var relative = '../'

block styles
  style
    body,html{
    height:100%;
    width:100%;
    }
    .off-canvas-wrap,.inner-wrap{
        height:100%;
        /*overflow-y: auto;*/   
    }
    textarea {  height: 100%; height: auto;}
  //if IE 7

block body
  .page
    .off-canvas-wrap
      .inner-wrap
        nav.tab-bar
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href='#')
              span

          section.middle.tab-bar-section
            h1.title Presentation

        aside.left-off-canvas-menu
          ul.off-canvas-list
            include ../navigation


        section.main-section
          main
            br
            .row
              .large-12.columns
                h1 
                  | Import
                  br
                  small upload new song and save it into system
            .row
              .large-12.columns
                form(method='post', action='/file/upload', enctype="multipart/form-data")
                  .row(data-equalizer)
                    .medium-8.columns
                      fieldset(data-equalizer-watch)
                        legend General informations
                        label
                          | Name
                          input(type="file", name='upload')
                          input(type='submit', value='Upload')

  script(src=relative+'vendor/jquery/dist/jquery.min.js')
  script(src=relative+'vendor/foundation/js/foundation.min.js')
  script(src=relative+'vendor/foundation/js/foundation/foundation.offcanvas.js')
  script(src=relative+'vendor/foundation/js/foundation/foundation.equalizer.js')
  script(src=relative+'vendor/foundation/js/foundation/foundation.reveal.js')