extends ../layout

block styles
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700', rel='stylesheet')
	link(rel='stylesheet', href='../vendor/reveal.js/css/reveal.min.css')
	link(rel='stylesheet', href='../vendor/reveal.js/css/theme/default.css', id='theme')

block body
	.reveal
		.slides
			section
				!{mama}
			- each item in tpl
				section
					!{item}
			section
				h2 Wiele lat błądziłem w świecie sam,
				h2 Nic nie dbając, że na krzyżu Pan,
				h2 Za me grzechy swoje życie dał, na Golgocie.
			section
				h2 Tam, za grzechy moje Chrystus zmarł,
				h2 Tam dostałem darmo życia dar.
				h2 Tam miłości mnie owionął żar, na Golgocie.
			section
				h2 Biblia mi odkryła grzechy me,
				h2 Kiedym był już na przepaści dnie.
				h2 Wtedy w skruchy łzach udałem się na Golgotę.
			section
				section
					h3 Reveal Test V1
					h3 Reveal multiplexer
				section
					h1 Reveal Test V2
					h3 Reveal multiplexer

	script(src='../vendor/jquery/dist/jquery.min.js')

block scripts
	script(src='../vendor/reveal.js/js/reveal.min.js')
	script
		Reveal.initialize({history:true});

		socket.on('slidechanged', function (data) {
			Reveal.slide(data.indexh, data.indexv, data.indexf);
		});

		notifyServer = function(event){
			data = {
				indexv : Reveal.getIndices().v,
				indexh : Reveal.getIndices().h,
				indexf : Reveal.getIndices().f || 0
			}
			socket.emit("slidechanged" , data);
		}

		Reveal.addEventListener("slidechanged", notifyServer);
		Reveal.addEventListener("fragmentshown", notifyServer);
		Reveal.addEventListener("fragmenthidden", notifyServer);