<section>
	<h1>ServerSong</h1>
	<h2>porting the OpenSong into cloud</h2>
</section>
<section>
	<h3>What is OpenSong</h3>
	<img class='streach' src="http://www.opensong.org/files/images/shot.jpg" alt="opensong" />
</section>
<section>
	<h3>What is OpenSong</h3>
	<ul>
		<li>Split-screen projection of lyrics (needs special screen configuration)</li>
		<li>Uses XML as file format (old, malformated)</li>
		<li>Writen in RealBASIC - comercial product</li>
		<li>Cannot control multiple "stations" at once</li>
	</ul>
</section>
<section>
	<h3>What is ServerSong</h3>
	<ul>
		<li>Project on "any*" screen</li>
		<li>Uses NoSQL DB and RESTFul API</li>
		<li>Writen in modern CoffeeScript JS derivative</li>
		<li>Uses NodeJS and WebSockets (among others)</li>
		<li>Can be projected on multiple devices at once</li>
		<li>Can be served on any location with internet connection**</li>
	</ul>
	<br/>
	<p>* Microft IE &lt; 9 are strongly encouraged to upgrade</p>
	<p>** OpenShift cartridge in development</p>

</section>
<section>
	<h1>OpenLyrics</h1>
	<iframe class='streach' src='https://gist.github.com/anonymous/11215104'></iframe>
</section>
<section>
	<h1>Application</h1>
	<p>architecture · design · challanges</p>
</section>
<section>
	<h3>Server structure</h3>
	<p>API: controllers, models, policies, services</p>
	<p>Assets: files, images, styles, js</p>
	<p>config: bootstrap, routes, policies, ...</p>
	<p>Vendor: bower components (automatic intall of jQuery etc)</p>
	<p>Views: ..., navigation, layouts</p>
	<p>Node_modules: ...</p>
</section>
<section>
	<h3>Controller</h3>
	<img src="http://picpaste.com/pics/DK78dxqg.1398261929.png" alt="code">
</section>
<section>
	<h3>Model</h3>
	<img src="http://picpaste.com/pics/model.1398261287.png" alt="code-model">
</section>
<section>
	<h3>View</h3>
	<img src="http://picpaste.com/pics/view-dynShUgD.1398261421.png" alt="code-view">
</section>

