extends ../layout

block settings
  - var title    = 'Songs Listing | SeverSong'
  - var relative = '../'

block styles
  style
    body,html{
    height:100%;
    width:100%;
    }
    .off-canvas-wrap,
    .inner-wrap {
        height:100%;
        /*overflow-y: auto;*/   
    }
    textarea {  height: 100%; height: auto;}
  //-if IE 7

block body
  .page
    .off-canvas-wrap
      .inner-wrap
        nav.tab-bar
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href='#')
              span

          section.middle.tab-bar-section
            h1.title Songs
        aside.left-off-canvas-menu
          ul.off-canvas-list
            
            include ../navigation


        section.main-section
          main
            br
            .row
              .large-12.columns
                h1 
                  | SongList
                  br
                  small songs created in the system
                br
                br
            .row
              .large-12.columns
                table
                  thead
                    tr
                      td ID
                      td Name
                      td Last Modified
                      td Actions
                  tbody     
                    - each item in list
                      tr
                        td #{item.id}
                        td #{item.name}
                        td #{item.updatedAt}
                        td 
                          span
                            a(href='/editor/open/#{item.uuid}') Edit
                          span &nbsp;&nbsp;
                          span
                            a(href='/file/destroy/#{item.id}', target='_blank') Delete

  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/foundation/js/foundation.js')
  script(src='/vendor/foundation/js/foundation/foundation.offcanvas.js')
  script(src='/vendor/foundation/js/foundation/foundation.equalizer.js')