extends ../layout

block settings
  - var title    = 'Song edit | SeverSong'
  - var relative = '../'

block styles
  style
    body,html{
    height:100%;
    width:100%;
    }
    .off-canvas-wrap,
    .inner-wrap {
        height:100%;
        /*overflow-y: auto;*/   
    }
    textarea {  height: 100%; height: auto;}
  //-if IE 7

block body
  .page
    .off-canvas-wrap
      .inner-wrap
        nav.tab-bar
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href='#')
              span

          section.middle.tab-bar-section
            h1.title Editor

        aside.left-off-canvas-menu
          ul.off-canvas-list
            
            include ../navigation


        section.main-section
          main
            br
            .row
              .large-12.columns
                h1 
                  | New song
                  br

            .row
              .large-12.columns
                form
                  .row(data-equalizer)
                    .medium-8.columns
                      fieldset(data-equalizer-watch)
                        legend General informations
                        //-- var metadata = JSON.parse #{meta}
                        label
                          | Name
                          input#name(type="text", placeholder="Type song name...")
                        label
                          | Author
                          input#author(type="text", placeholder="Type song author...")
                        label
                          | Presentation order
                          input#order(type='text', placeholder='V1 V2 C V1 V2 E') 
                    
                    .medium-4.columns
                      fieldset(data-equalizer-watch)
                        legend Actions
                        a(href="#save-new", class="button expand") Save
                        a(href="#export", class="button expand") Export
                        a(href="#print", class="button expand") Print


                  .row(data-equalizer)
                    .medium-8.columns
                      fieldset(data-equalizer-watch)
                        legend Lyrics
                        textarea#lyrics
                    .medium-4.columns
                      fieldset(data-equalizer-watch)
                        legend Insert
                        a(href="#section", class="button success expand") Section
                        a(href="#chord", class="button success expand") Chords
                        a(href="#comment", class="button success expand") Comment
                        a(href="#verses", class="button disabled expand") Multiple Verses
                        a(href="#column", class="button disabled expand") New Column
                        a(href="#meta", class="button success expand") Meta Data
  //- Modals

  //- Section Insert
  #section-modal.reveal-modal(data-reveal)
    h2 Section
    p.lead used for presentation order 
    label
      | Name
      input#value(type="text", placeholder="v1")
    a.button.primary(href="#insert") Insert
    a.close-reveal-modal &#215;

  //- Chord Insert
  #chord-modal.reveal-modal(data-reveal)
    h2 Chord
    p.lead Select or write chord to insert
    label
      | Name
      input#value(type='text', placeholder='Cmaj7')
    a.button.primary(href='#insert') Insert
    a.close-reveal-modal &#215;

  //- Commet Insert
  #comment-modal.reveal-modal(data-reveal)
    h2 Comment
    p.lead Select or write chord to insert
    label
      | &nbsp; 
      input#value(type='text', placeholder='Important note')
    a.button.primary(href='#insert') Insert
    a.close-reveal-modal &#215;

  //- Inject metadata
  #meta-modal.reveal-modal(data-reveal)
    h2 Song Metadata
    p.lead Specify more of files metadata
    label
      | CCLI
      input#ccliNo(type='text', placeholder='0')
    label
      | Copyright
      input#copyright(type='text', placeholder='0')
    label
      | Song Key
      input#key(type='text', placeholder='0')
    label
      | Themes
      input#themes(type='text', placeholder='0')
    a.button.primary(href='#insert') Insert
    a.close-reveal-modal &#215;

  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/foundation/js/foundation.js')
  script(src='/vendor/foundation/js/foundation/foundation.offcanvas.js')
  script(src='/vendor/foundation/js/foundation/foundation.equalizer.js')
  script(src='/vendor/foundation/js/foundation/foundation.reveal.js')

  script
    $('#save').click(function(){
    });