extends ../layout

block styles
  // Default home page
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700', rel='stylesheet')
  style
    body,html{
    height:100%;
    width:100%;
    }
    .off-canvas-wrap,.inner-wrap{
        height:100%;
        /*overflow-y: auto; */  
    }
    textarea {  height: 100%; height: auto;}
  //if IE 7

block body
  .page
    .off-canvas-wrap
      .inner-wrap
        nav.tab-bar
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href='#')
              span

          section.middle.tab-bar-section
            h1.title Remote

        aside.left-off-canvas-menu
          ul.off-canvas-list
            include ../navigation

        section.main-section
          main
            br
            .row
              .large-12.columns
                h1 
                  | Presentation controller
                  br
                  small Control the presentation remotely
            .row
              .large-12.columns
                form
                  .row(data-equalizer)
                    .medium-8.columns
                      fieldset(data-equalizer-watch)
                        legend Preview
                        iframe(width='100%', src='/presentation/view/', style='min-height:400px')
                    
                    .medium-4.columns
                      fieldset(data-equalizer-watch)
                        legend Navigation
                        a(href="#next", class="button expand") Next
                        a(href="#prev", class="button expand") Prev
                        a(href="#left", class="button expand") Left
                        a(href="#right", class='button expand') Right


                  .row
                    .medium-6.columns
                      table
                        thead
                          tr
                            td ID
                            td Name
                            td Last Modified
                            td Actions
                        tbody     
                          - each item in list
                            tr
                              td #{item.id}
                              td #{item.name}
                              td #{item.updatedAt}
                              td 
                                a(href='#view', data-uuid='#{item.uuid}') View

                    .medium-6.columns
                      table
                        thead
                          tr
                            td ID
                            td Name
                            td Last Modified
                            td Actions
                        tbody     
                          - each item in slides
                            tr
                              td #{item.id}
                              td #{item.name}
                              td #{item.updatedAt}
                              td 
                                a(href='#slide-view', data-uuid='#{item.id}') View



          //- Main end        
        a.exit-off-canvas

  //- Modals

  //- Section Insert
  #section-modal.reveal-modal(data-reveal)
    h2 Section
    p.lead used for presentation order 
    label
      | Name
      input#value(type="text", placeholder="v1")
    a.button.primary(href="#insert") Insert
    a.close-reveal-modal &#215;

  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/foundation/js/foundation.js')
  script(src='/vendor/foundation/js/foundation/foundation.offcanvas.js')
  script(src='/vendor/foundation/js/foundation/foundation.equalizer.js')
  script(src='/vendor/foundation/js/foundation/foundation.reveal.js')
  script(src='/vendor/reveal.js/js/reveal.min.js')
  script     
    $(document).ready(function() {
      socket.get('/presentation/api', function(r) {
        console.log("Connected to API");
        socket.emit('request', {id: 'gyT-hxIWp'});
      });
      $('a[href=#view]').click(function(e){
          var uuid= $(this).data('uuid');
          e.preventDefault();
          console.log('View button triggered');
          socket.get('/presentation/api', function(r) {
            console.log("Requesting: ", uuid);
            socket.emit('request', {id: uuid});
          });
      });
      $('a[href=#slide-view]').click(function(e){
          var uuid= $(this).data('uuid');
          e.preventDefault();
          console.log('View button triggered');
          socket.get('/presentation/api', function(r) {
            console.log("Requesting: ", uuid);
            socket.emit('request-slide', {id: uuid});
          });
      });
    });
    