extends ../layout

block styles
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700', rel='stylesheet')
	link(rel='stylesheet', href='/vendor/reveal.js/css/reveal.min.css')
	link(rel='stylesheet', href='/vendor/reveal.js/css/theme/default.css', id='theme')

block body
	.reveal			
		section#loader
			.bubblingG
				span#bubblingG_1
				span#bubblingG_2
				span#bubblingG_3
			style
				.bubblingG {
					text-align: center;
					width:150px;
					height:94px;
				}

				.bubblingG span {
					display: inline-block;
					vertical-align: middle;
					width: 19px;
					height: 19px;
					margin: 47px auto;
					background: #D3EDDC;
					-moz-border-radius: 94px;
					-moz-animation: bubblingG 1.3s infinite alternate;
					-webkit-border-radius: 94px;
					-webkit-animation: bubblingG 1.3s infinite alternate;
					-ms-border-radius: 94px;
					-ms-animation: bubblingG 1.3s infinite alternate;
					-o-border-radius: 94px;
					-o-animation: bubblingG 1.3s infinite alternate;
					border-radius: 94px;
					animation: bubblingG 1.3s infinite alternate;
				}

				#bubblingG_1 {
					-moz-animation-delay: 0s;
					-webkit-animation-delay: 0s;
					-ms-animation-delay: 0s;
					-o-animation-delay: 0s;
					animation-delay: 0s;
				}

				#bubblingG_2 {
					-moz-animation-delay: 0.39s;
					-webkit-animation-delay: 0.39s;
					-ms-animation-delay: 0.39s;
					-o-animation-delay: 0.39s;
					animation-delay: 0.39s;
				}

				#bubblingG_3 {
					-moz-animation-delay: 0.78s;
					-webkit-animation-delay: 0.78s;
					-ms-animation-delay: 0.78s;
					-o-animation-delay: 0.78s;
					animation-delay: 0.78s;
				}

				@-moz-keyframes bubblingG {
					0% {
					width: 19px;
					height: 19px;
					background-color:#D3EDDC;
					-moz-transform: translateY(0);
					}

					100% {
					width: 45px;
					height: 45px;
					background-color:#C740C7;
					-moz-transform: translateY(-39px);
					}

				}

				@-webkit-keyframes bubblingG {
					0% {
					width: 19px;
					height: 19px;
					background-color:#D3EDDC;
					-webkit-transform: translateY(0);
					}

					100% {
					width: 45px;
					height: 45px;
					background-color:#C740C7;
					-webkit-transform: translateY(-39px);
					}

				}

				@-ms-keyframes bubblingG {
					0% {
					width: 19px;
					height: 19px;
					background-color:#D3EDDC;
					-ms-transform: translateY(0);
					}

					100% {
					width: 45px;
					height: 45px;
					background-color:#C740C7;
					-ms-transform: translateY(-39px);
					}

				}

				@-o-keyframes bubblingG {
					0% {
					width: 19px;
					height: 19px;
					background-color:#D3EDDC;
					-o-transform: translateY(0);
					}

					100% {
					width: 45px;
					height: 45px;
					background-color:#C740C7;
					-o-transform: translateY(-39px);
					}

				}

				@keyframes bubblingG {
					0% {
					width: 19px;
					height: 19px;
					background-color:#D3EDDC;
					transform: translateY(0);
					}

					100% {
					width: 45px;
					height: 45px;
					background-color:#C740C7;
					transform: translateY(-39px);
					}

				}

		.slides

			section#content
				//!{slides}
				
			//- each item in slides
				section
					!{item}


	script(src='/vendor/jquery/dist/jquery.min.js')
	script(src='/vendor/foundation/js/foundation.js')

block scripts
	script(src='/vendor/reveal.js/js/reveal.min.js')
	script
		socket.get('/presentation/api', function(r) {
			socket.on('initdata', function(r) {
				console.log(r);
				$('#content').html(r);
				$('#loader').css({display:'none'});

				Reveal.initialize({history:false});
				Reveal.slide(0,0,0);

				socket.on('slidechanged', function (data) {
					Reveal.slide(data.indexh, data.indexv, data.indexf);
				});

				notifyServer = function(event){
					data = {
						indexv : Reveal.getIndices().v,
						indexh : Reveal.getIndices().h,
						indexf : Reveal.getIndices().f || 0
					}
					console.log("Slide changed!");
					socket.emit("slidechanged" , data);
				}

				Reveal.addEventListener("slidechanged", notifyServer);
				Reveal.addEventListener("fragmentshown", notifyServer);
				Reveal.addEventListener("fragmenthidden", notifyServer);
			});
		});