extends ../layout

block styles
  // Default home page
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700', rel='stylesheet')
  style
    body,html{
    height:100%;
    width:100%;
    }
    .off-canvas-wrap,.inner-wrap{
        height:100%;
        /*overflow-y: auto; */ 
    }
    textarea {  height: 100%; height: auto;}
  //if IE 7

block body
  .page
    .off-canvas-wrap
      .inner-wrap
        nav.tab-bar
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href='#')
              span

          section.middle.tab-bar-section
            h1.title Slides

        aside.left-off-canvas-menu
          ul.off-canvas-list
            include ../navigation


        section.main-section
          main
            br
            .row
              .large-12.columns
                h1 
                  | New Slide
                  br
                  small create new slide for presentation and save it into system
            .row
              .large-12.columns
                form
                  .row(data-equalizer)
                    .medium-8.columns
                      fieldset(data-equalizer-watch)
                        legend General informations
                        label
                          | Name
                          input#name(type="text", placeholder="Type slide name...")
                    
                    .medium-4.columns
                      fieldset(data-equalizer-watch)
                        legend Actions
                        a(href="#save-slide", class="button expand") Save


                  .row(data-equalizer)
                    .medium-12.columns
                      fieldset(data-equalizer-watch)
                        legend Slides
                        textarea#slide(style="min-height:50%")
                    .medium-4.columns(style='display:none')
                      fieldset(data-equalizer-watch)
                        legend Insert
                        a(href="#section", class="button success expand") Section
                        a(href="#chord", class="button success expand") Chords
                        a(href="#comment", class="button success expand") Comment
                        a(href="#verses", class="button disabled expand") Multiple Verses
                        a(href="#column", class="button disabled expand") New Column
                        a(href="#page", class="button disabled expand") New Page

          //- Main end        
        a.exit-off-canvas

  //- Modals

  //- Section Insert
  #section-modal.reveal-modal(data-reveal)
    h2 Section
    p.lead used for presentation order 
    label
      | Name
      input#value(type="text", placeholder="v1")
    a.button.primary(href="#insert") Insert
    a.close-reveal-modal &#215;

  //- Chord Insert
  #chord-modal.reveal-modal(data-reveal)
    h2 Chord
    p.lead Select or write chord to insert
    label
      | Name
      input#value(type='text', placeholder='Cmaj7')
    a.button.primary(href='#insert') Insert
    a.close-reveal-modal &#215;

  //- Commet Insert
  #comment-modal.reveal-modal(data-reveal)
    h2 Comment
    p.lead Select or write chord to insert
    label
      | &nbsp; 
      input#value(type='text', placeholder='Important note')
    a.button.primary(href='#insert') Insert
    a.close-reveal-modal &#215;



  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/foundation/js/foundation.min.js')
  script(src='/vendor/foundation/js/foundation/foundation.offcanvas.js')
  script(src='/vendor/foundation/js/foundation/foundation.equalizer.js')
  script(src='/vendor/foundation/js/foundation/foundation.reveal.js')